Options +FollowSymlinks
RewriteEngine on

RewriteRule   ^adherent$  adherent.php
RewriteRule   ^enfant$  enfant.php
RewriteRule   ^livre$  livre.php
RewriteRule   ^login$  login.php
RewriteRule   ^dossier$  dossier.php
RewriteRule   ^administration$  admin.php
RewriteRule   ^comptabilite$  compta.php
RewriteRule   ^deconnexion$  deconnexion.php
RewriteRule   ^document$  document.php

RewriteRule   ^(.+)\.php$ index.php?page=$1 [L,QSA]


